{:customREPLCommandSnippets
 [{:name "Run migrations"
   :snippet "(migrations/migrate!)"
   :ns "user"
   :key "m"}
  {:name "Start server"
   :snippet (go)
   :ns "user"
   :key "s"}
  {:name "Browse to URL"
   :snippet (browse-url "http://localhost:3000/")
   :ns "user"
   :key "b"}
    {:name "Restart server"
     :snippet (reset)
     :ns "user"
     :key "r"}
  {:name "Stop server"
   :snippet (halt)
   :ns "user"
   :key "h"}]}
