* {
    box-sizing: border-box;
}

html {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    line-height: 1.5;
    margin: 0 auto;
    max-width: 40rem;
    padding: 2rem;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.25;
    margin-bottom: 1.5rem;
}

p, form {
    margin: 1rem 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 20rem;
}

input {
    height: 2rem;
    padding: 0.5rem;
}

label {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

a {
    color: black;
    font-weight: bold;
    overflow-wrap: break-word;
}

a:hover {
    text-decoration: none;
}

.horizontal-buttons {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1rem;
}

.gifts {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.gift {
    background-color: rgb(237 245 247);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
}

.gift-name {
    font-weight: bold;
    text-transform: uppercase;
}

.gift-name-and-price {
    display:flex;
    gap: 2rem;
}

.gift.reserved {
    opacity: 0.5;
}

.gift-description {
    margin-bottom: 1rem;
    white-space: break-spaces;
}

.button,
.menu-button,
.secondary-button {
    align-self: flex-start;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.25rem;
    color: black;
    cursor: pointer;
    display: inline-block;
    flex: none;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1;
    padding: 0.5rem;
    text-decoration: none;
    transition-duration: 0.25s;
    transition-property: background-color, color;
}

.menu-button,
.secondary-button {
    background-color: white;
    color: black;
}

.button {
    background-color: black;
    color: white;
}

.button:hover {
    background-color: white;
    color: black;
}

.menu-button:hover,
.secondary-button:hover {
    background-color: black;
    color: white;
}

.edit-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.edit-list-gifts {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

code {
    font-family: 'Courier New', Courier, monospace;
    word-break: break-all;
}

.header {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.menu-button {
    margin-top: 0.5rem;
}
