* {
    box-sizing: border-box;
}

html {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    line-height: 1.5;
    margin: 0 auto;
    max-width: 40rem;
    padding: 2rem;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

p, form {
    margin: 1rem 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

a {
    color: black;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}

.horizontal-buttons {
    display: flex;
    gap: 1rem;
}

.gift {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;
}

.gift-name {
    text-transform: capitalize;
}

.gift-name-and-price {
    display:flex;
    gap: 2rem;
}

.gift.reserved {
    opacity: 0.5;
}

.gift-description {
    margin-bottom: 1rem;
    white-space: break-spaces;
}

.button,
.secondary-button {
    align-self: flex-start;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.25rem;
    color: black;
    cursor: pointer;
    display: flex;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1;
    padding: 0.5rem;
    text-decoration: none;
}

.secondary-button {
    background-color: white;
    color: black;
}

.button {
    background-color: black;
    color: white;
}

.button:hover {
    background-color: white;
    color: black;
}

.secondary-button:hover {
    background-color: black;
    color: white;
}
